<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title>Home</title>
</head>
<body>
    <header>
        <h1 class="jumbotron" style="text-align:center;"> Wishful </h1>
        <nav>
        <h2 style="text-align:center;">
        <a href="home.html"> Home </a>
        <a href="wishlist.html"> Wishlist </a>
        <a href="profile.html"> Profile </a>
        <a href="login.html"> Login </a>
        <a href="register.html"> Sign Up </a>
        </h2>
    </nav>
    <h4 style="text-align:center;"> Welcome! Fulfill all your wishful needs!</h4>
    </header>


</body>
</html>