<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title>Home</title>
</head>
<body>
    <header>
        <h1 class="jumbotron" style="text-align:center;"> Wishful
            <br>
            <a class="navbar-brand" href=""> Home </a>
            <a class="navbar-brand" href="/list"> Wishlist </a>
            <a class="navbar-brand" href="/profile"> Profile </a>
            <a class="navbar-brand" href="/login"> Login </a>
            <a class="navbar-brand" href="/register"> Sign Up </a>
        </h1>

    <h4 style="text-align:center;"> Welcome! Fulfill all your wishful needs!</h4>
    </header>


</body>
</html>