<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title>Home</title>
</head>
<body>
    <header>
        <h1 class="jumbotron" style="text-align:center;"> Wishful
            <br>
            <a class="navbar-brand" href="home.html"> Home </a>
            <a class="navbar-brand" href="wishlist.html"> Wishlist </a>
            <a class="navbar-brand" href="profile.html"> Profile </a>
            <a class="navbar-brand" href="login.html"> Login </a>
            <a class="navbar-brand" href="register.html"> Sign Up </a>
        </h1>

    <h4 style="text-align:center;"> Welcome! Fulfill all your wishful needs!</h4>
    </header>

    <div style="text-align:center;">
    <img src="https://static.thenounproject.com/png/3551002-200.png" width="500" height="500"  >
    </div>


</body>
</html>