<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title>Login</title>
    {% load crispy_forms_tags %}
</head>
<body>
<h1 class="jumbotron"> Login </h1>
    {% if user.is_authenticated %}
       Username: <input type="text"><br><br>
       Password: <input type="text"><br>
<button> <a href="/login">Edit </a> </button>
    {% else %}
        <p>Login <a href="/login">Here</a></p>
    {% endif %}

</body>
</html>