<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title>Register</title>
</head>
<body>
<h1 class="jumbotron"> User Registration </h1>
<form method="POST" class="form-group">
    {% csrf_token %}
Username: <input type="text" name="username"><br><br>
Password: <input type="text" name = "password"><br>
<br><br>
<input id ="submitBtn" class="btn btn-secondary" type="submit" value="Sign up">
</form>

</body>
</html>